# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Windows build
windows/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/